data/
results/
external/

__pycache__/
*.pyc

*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz

09_article/build/jei_template.docx
09_article/build/jei_reference.docx
09_article/build/article_jei.md

.DS_Store
